# Server settings

HOST=0.0.0.0
PORT=8080
TIMEOUT=0  # 0 means no timeout
REVERSE_PROXY=false  # only with reverse proxy; see docs

# Features

## Proxy
PROXY_RES=true
IMG_COMPRESS=true  # enable image compressing; proxy_res is required

## Documentation
SWAGGER=false  # whether to add API docs route

## Search
SEARCH_ENABLED=false  # searx_url is required when enabled
SEARX_URL=""  # SearXNG base URL, e.g. https://searx.dc09.ru
