.input-grid {
  display: grid;
  /* 2 columns: auto width, min-content width */
  grid-template-columns: auto min-content;

  /* gap: row column */
  gap: 0.5rem 0.25rem;

  width: fit-content;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

label {
  font-size: 0.9rem;
}

#url {
  width: 100%;
  height: 100%;  /* shrink to #submit height */

  outline: none;
  border: 0;
  border-bottom: 0.125rem solid var(--fg2);

  background: var(--bg);
  color: var(--fg);
  font-size: 1rem;
}
#url::placeholder {
  color: var(--fg2);
  opacity: 1;
}

#submit {
  font-size: 1rem;
}

select {
  border: 0;
  border-bottom: 0.125rem solid var(--accent);

  background: var(--bg);
  color: var(--fg);

  font-weight: 500;
  font-size: 0.9rem;
}
