.input-grid {
  display: grid;
  /* 2 columns: auto width, min-content width */
  grid-template-columns: auto min-content;

  /* gap: row column */
  gap: 0.5rem 0.25rem;

  width: fit-content;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-wrap: wrap;
  gap: 0.25rem 0.75rem;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  font-size: 1rem;
}

label {
  font-size: 0.9rem;
}