.input-grid {
  display: grid;
  /* 2 columns: auto width, min-content width */
  grid-template-columns: auto min-content;

  /* gap: row column */
  gap: 0.5rem 0.25rem;

  width: fit-content;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-wrap: wrap;
  gap: 0.25rem 0.75rem;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

label {
  font-size: 0.9rem;
}

#submit {
  font-size: 1rem;
}

select {
  border: 0;
  border-bottom: 0.125rem solid var(--accent);

  background: var(--bg);
  color: var(--fg);
  border-radius: 0.25rem;

  font-weight: 500;
  font-size: 0.9rem;
}
