.menu {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;

  font-size: 0.9rem;
}
.title {
  font-weight: 500;
}

a {
  color: var(--accent);
}
a:hover {
  color: var(--accent-hl);
}

pre {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

img, picture, video {
  max-width: 100%;
  height: auto;
}

frame, iframe {
  max-width: 100%;
}
