.title {
  border-bottom: 0.125rem solid var(--bg2);
  padding-bottom: 0.125rem;
  font-weight: 600;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent-hl);
}

pre {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
}

frame,
iframe {
  max-width: 100%;
}
