main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  width: fit-content;
  margin: auto;
}

h1 > .dot {
  color: var(--accent);
}
h1 > .dot-err {
  color: var(--error);
}
