.right {
  display: flex;
  margin-left: auto;
}

#search {
  width: 100%;
  height: 100%; /* shrink to #submit height */

  outline: none;
  border: 0;
  border-bottom: 0.125rem solid var(--fg2);

  background: var(--bg);
  color: var(--fg);
  font-size: 1rem;

  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#search::placeholder {
  color: var(--fg2);
  opacity: 1;
}
