@media (min-width: 480px) {
  .right {
    display: flex;
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .right {
    margin: 1rem;
  }
}

#search {
  margin-right: 0.5rem;
  /* margin-left: 0.5rem; */
}
