<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>txt. <%= code %></title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <main>
      <header>
        <h1>txt<span class="dot-err">.</span></h1>
        <p class="menu">
          <a href="/" class="button">Home</a>
          <% if (locals.proxyBtn && proxyBtn) { %>
            <a
              href="/proxy?url=<%= encodeURIComponent(url) %>"
              class="button secondary"
            >
              Proxy
            </a>
          <% } %>
          <a href="<%= url %>" class="button secondary">Original page</a>
        </p>
        <p><%= description %></p>
      </header>
    </main>
  </body>
</html>
