<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>txt. <%= code %></title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <main>
      <header>
        <h1>txt<span class="dot-err">.</span></h1>
        <p><%= description %></p>
      </header>
      <a href="/" class="button secondary">Home</a>
    </main>
  </body>
</html>
