<!DOCTYPE html>
<html lang="<%= parsed.lang %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <title><%= parsed.title %></title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/get.css">
  </head>
  <body>
    <main>
      <div class="title">
        <%= parsed.title %>
      </div>
      <%- parsed.content %>
    </main>
  </body>
</html>
