<% const desc="txtdot is a HTTP proxy that parses text, links and pictures from pages reducing internet traffic, removing ads and heavy scripts" %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= desc %>">
    <title>txt. main page</title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <main>
      <header>
        <h1>txt.</h1>
        <p>
          <%= desc %>
        </p>
      </header>
      <form action="/get" method="get" class="input-grid">
        <div class="input">
          <input type="text" name="url" id="url" placeholder="URL">
        </div>
        <div class="input">
          <input type="submit" id="submit" value="Parse">
        </div>
        <div class="input-row">
          <div class="input">
            <label for="engine">Engine</label>
            <select name="engine">
              <option value="" selected>Default</option>
              <% engineList.forEach((engine)=> { 
                  %>
                  <option value="<%= engine %>">
                    <%= engine %>
                  </option>
                  <% 
                }) 
              %>
            </select>
          </div>
          <div class="input">
            <label for="format">Format</label>
            <select name="format">
              <option value="html" selected>HTML</option>
              <option value="text">Text</option>
            </select>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>