<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= publicConfig.description %>">
    <title>txt. main page</title>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="/static/form-inputs.css">
  </head>
  <body>
    <main>
      <header>
        <h1>txt<span class="dot">.</span></h1>
        <div class="menu">
          <a href="https://github.com/TxtDot/txtdot/releases/latest" class="button secondary">v<%= publicConfig.version %></a>
          <a href="https://github.com/txtdot/txtdot" class="button secondary">GitHub</a>
          <a href="https://txtdot.github.io/documentation" class="button secondary">Docs</a>
        </div>
        <p><%= publicConfig.description %></p>
      </header>
      <%- include('./components/form-main.ejs') %>
    </main>
  </body>
</html>
