<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TXTDot starting page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <form action="/">
    <label for="url">URL</label>
    <input type="text" name="url">
    <p>
      <label for="engine">Engine</label>
      <select name="engine">
        <option selected value>Standard</option>
        <option value="readability">Readability</option>
      </select>
    </p>
    <p>
      <label for="format">Format</label>
      <select name="format">
        <option selected value>Standard</option>
        <option value="html">HTML</option>
        <option value="text">Text</option>
      </select>
    </p>
    <input type="submit">
  </form>
</body>

</html>