<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= desc %>">
  <title>txt. main page</title>
</head>
<body>
  <form action="/">
    <label for="url">URL</label>
    <input type="text" name="url">
    <p>
      <label for="engine">Engine</label>
      <select name="engine">
        <option selected value>Standard</option>
        <% engineList.forEach((engine)=>{
          %>
          <option value="<%= engine %>">
            <%= engine %>
          </option>
          <% }) %>
      </select>
    </p>
    <p>
      <label for="format">Format</label>
      <select name="format">
        <option selected value>Standard</option>
        <option value="html">HTML</option>
        <option value="text">Text</option>
      </select>
    </p>
    <input type="submit">
  </form>
</body>
</html>
