<% search = config.search.enabled %>

<% 

if (search) { 
  %>
    <input type="checkbox" id="switch-search" checked>

    <label for="switch-search" class="switch-label">
      <span>URL</span>
      <span class="switch-btn"></span>
      <span>Search</span>
    </label>

    <form action="/redirect" method="get" class="input-grid main-form-search">
      <div class="input">
        <input type="text" name="q" id="search" placeholder="Search">
      </div>
      <div class="input">
        <input type="submit" id="submit" class="button" value="Go">
      </div>
      <input type="hidden" name="url" value="<%= config.search.searx_url %>/search"/>
    </form>
  <% 
}

%>

<form action="/get" method="get" class="input-grid <%= search ? "main-form-url" : "" %>">
  <div class="input">
    <input type="text" name="url" id="url" placeholder="URL">
  </div>
  <div class="input">
    <input type="submit" id="submit" class="button" value="Parse">
  </div>
  <div class="input-row">
    <div class="input">
      <label for="engine">Engine</label>
      <select name="engine">
        <option value="" selected>Default</option>
        <% engineList.forEach((engine) => { %>
          <option value="<%= engine %>">
            <%= engine %>
          </option>
          <% }) %>
      </select>
    </div>
    <div class="input">
      <label for="format">Format</label>
      <select name="format">
        <option value="html" selected>HTML</option>
        <option value="text">Text</option>
      </select>
    </div>
  </div>
</form>
