<div class="menu">
  <a class="button secondary" href="/">Home</a>
  <a class="button secondary" href="<%= remoteUrl %>">Original page</a>
  <% 
    if (config.search.enabled) {
      %>
      <form class="right" action="/search" method="get">
        <input type="text" name="q" id="search" placeholder="Search">
        <input class="button" type="submit" value="Go"/>
      </form>
      <%
    }
  %>
</div>