name: Delete untagged packages

on: workflow_dispatch

jobs:
  delete-untagged-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          package-name: 'txtdot'
          package-type: 'container'
          delete-only-untagged-versions: 'true'
